<h1 class="text-center py-3">DASHBOARD CRUD PRODUCTOS</h1>

<section>
    {{#if tokenTime}}
{{>reloj
tokenTime=tokenTime
}}
{{/if}}
</section>

<!--tabla-->
    <section class="d-flex justify-content-center">
        <!--boton agregar anime-->
        <div id="scrollme">
            <table class="table table-light table-striped my-5">
                <thead class="text-center">
                    <tr class="text-center mx-auto">
                        <th scope="col">ID</th>
                        <th class="col" scope="col">Titulo</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Texto</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each noticias}}
                    <tr class="text-center ">
                        <th scope="row">{{this.dataValues.noticiaId}}</th>
                        <td>{{this.dataValues.titulo}}</td>
                        <td>{{this.dataValues.autor}}</td>
                        <td>{{this.dataValues.texto}}</td>
                        <td>{{this.dataValues.categoria}}</td>
                        <td><img src="/public/uploads/{{this.dataValues.img}}" alt="" width="50px" height="50px"></td>
                        <td><a class="btn detailBtn btn-success" href="noticias/{{this.dataValues.id}}">Detalles</a></td>
                        <td><button class="btn deleteBtn btn-danger">Eliminar</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>