<h1 class="text-center">Noticias</h1>

<section class="row justify-content-center pb-5">
    {{#each noticias}}
    <div class="card col-3" style="width: 18rem;">
        <img src="/public/uploads/{{this.img}}" class="card-img-top pt-3" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title">{{this.titulo}}</h5>
            <h6 class="card-title">{{this.categoria}}</h6>
            <p class="card-text">{{this.texto}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{this.createdAt}} por: {{this.autor}}</li>
            <li class="list-group-item text-center">                
                <button id="like" class="btn"><img src="/public/like.png" width="20px"></button>
                <button id="dislike" class="btn"><img src="/public/dislike.png" width="20px"></button>
            </li>
        </ul>
    </div class="mb-3">
    {{/each}}
</section>


<script>
</script>